EXPO_PUBLIC_BACKEND_URL=http://10.0.2.2:8787
EXPO_PUBLIC_APP_URL=http://10.0.2.2:3000
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_SOLANA_CHAIN=solana:devnet
EXPO_PUBLIC_ESCROW_PROGRAM_ID=DQgzwnMGkmgB5kC92ES28Kgw9gqfcpSnXgy8ogjjLuvd
EXPO_PUBLIC_APP_NAME=SolMail
EXPO_PUBLIC_APP_URI=https://solmail.com
EXPO_PUBLIC_APP_ICON=favicon.png
